section {
	display: block;
}
footer {
	display: block;
}
aside {
	display: block;
}
nav {
	display: block;
}
main {
	display: block;
}
article {
	display: block;
}
figure {
	display: block;
}
.mt-100 {
    margin-top: 100px;
}